@{
    ViewData["Title"] = "Логин";
}

<div class="text-center">
    <form method="post" class="login_container">
        <input placeholder="Логин" type="email" required/>
        <input placeholder="Пароль" type="password" required />
        <button type="submit">Войти</button>
    </form>
</div>
